.threads-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  z-index: -1;
  display: block;
}

.threads-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
  background: #000 !important;
}
